<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "games/__scripts.html"%}
    <title>Click the box</title>
</head>
<body style="position:fixed;height:100%;width:100%" x-data="{ count_xmodel: {{form.count.value}} }">
    <div class="container h-100 d-flex flex-column justify-content-between" id="swap_div">
        {%include "seek/__core_seek.html"%}
    </div>
</body>
</html>